/* ==================== Primary Colors ==================== */
$primary-black: #323232;
$primary-grey: #AFAFAF;
$primary-white: #FFFFFF;

/* ==================== Secondary Colors ==================== */
$secondary-black: #000000;
$secondary-grey: #E1E1E1;
$secondary-white: #FAFAFA;