/* ==================== Primary Colors ==================== */
$primary-black: #323232; // Black
$primary-grey: #AFAFAF; // Silver
$primary-white: #FFFFFF; // White 255

/* ==================== Secondary Colors ==================== */
$secondary-black: #000000; // Dark Black
$secondary-grey: #E1E1E1; // Mercury
$secondary-white: #FAFAFA; // Alabaster 250

/* ==================== Forms ==================== */
$error-red: #D22D2D; // Error State
