@use 'partials/colors';
@use 'partials/typography' as *;
@use 'partials/variables' as *;
@use 'partials/mixins' as *;

/* =============== Show Hero =============== */
.show-hero {
    width: 100%;
    padding: $padding*3 $padding*2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    @media (min-width: 768px) {
        padding: $padding*6 $padding*4.5;
    }

    @media (min-width: 1280px) {
        width: 1020px;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    &-container {
        background: url('../assets/images/hero-shows.jpg');
        width: 100%;
        min-height: 35vh;
        background-position: center;
        background-size: cover;
        position: relative;
        display: flex;
        z-index: 0;
        
        @media (min-width: 768px) {
            min-height: 50vh;
        }
        
        @media (min-width: 1280px) {
            min-height: 60vh;
        }
    }
    
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: colors.$primary-black;
        opacity: 0.5;
        z-index: 1;
    }

    &__subtitle {
        @include subheader-mobile;
        color: colors.$primary-white;
        padding-bottom: $padding*2;

        @media (min-width: 768px) {
            @include subheader-desktop;
        }

        @media (min-width: 1280px) {
            width: 100%;
        }
    }

    &__title {
        @include page-header-mobile;
        color: colors.$primary-white;
        padding-bottom: $padding*2;
        width: 85%;

        @media (min-width: 768px) {
            @include page-header-desktop;
            padding-bottom: $padding*4.5;
        }

        @media (min-width: 1280px) {
            width: 50%;
            padding-bottom: 0;
        }
    }

    &__iframe {

        &-container {
            width: 100%;

            @media (min-width: 768px) {
                width: 60%;
            }

            @media (min-width: 1280px) {
                width: 40%;
            }
        }
    }
}

/* =============== Show Article =============== */
.show-article {
    width: 100%;
    padding: 0 $padding*2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        padding: 0 $padding*4.5;
    }

    @media (min-width: 1280px) {
        width: 1020px;
        padding: 0;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    &-container {
        width: 100%;
        background: colors.$primary-white;
        display: flex;
    }

    &__title {
        @include section-header-mobile;
        padding: $padding*3 0 $padding*2;
        align-self: flex-start;

        @media (min-width: 768px) {
            @include section-header-desktop;
            padding: $padding*6 0 $padding*4.5;
        }

    }
}

/* =============== Shows Container =============== */
.shows {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @media (min-width: 768px) {
        padding-bottom: $padding*2;
    }

    @media (min-width: 1280px) {
        padding-top: $padding*6;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 1280px) {
            width: 90%;
        }
    }

    &__heading {
        @include label-button-mobile;
        color: colors.$secondary-grey;
        margin-bottom: $padding/2;

        @media (min-width: 768px) {
            @include label-button-desktop;
            width: 25%;
        }

        &-container {
            display: none;

            @media (min-width: 768px) {
                display: flex;
                width: 100%;
            }

            @media (min-width: 1280px) {
                align-items: flex-end;
                height: 44px; // TEST
            }
        }
    }

    &__list {
        @include list-style-reset;
        @include body-copy-mobile;
        padding-bottom: $padding*2;
    }
}

/* =============== Show Card =============== */
.show {
    @include divider;
    @include body-copy-mobile;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $padding*2 0;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        @include label-button-mobile;
        color: colors.$secondary-grey;
        margin-bottom: $padding/2;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__date {
        font-weight: 600;
        display: flex;
        flex-direction: column;
        padding-bottom: $padding*2;

        @media (min-width: 768px) {
            width: 25%;
            padding-bottom: 0;
        }
    }

    &__venue {
        display: flex;
        flex-direction: column;
        padding-bottom: $padding*2;

        @media (min-width: 768px) {
            width: 25%;
            padding-bottom: 0;
        }
    }

    &__location {
        display: flex;
        flex-direction: column;
        padding-bottom: $padding*2;

        @media (min-width: 768px) {
            width: 25%;
            padding-bottom: 0;
        }
    }

    &__button {
        @include button-mobile;

        @media (min-width: 768px) {
            @include button-desktop;
        }

        &:hover {
            @include button-hover;
        }

        &-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            @media (min-width: 768px) {
                width: 25%;
            }
        }
    }
}