/* ==================== Primary Colors ==================== */
/* ==================== Secondary Colors ==================== */
/* ==================== Bold ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* ==================== Demi ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* ==================== Regular ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* ==================== Main Font Family ==================== */
/* ==================== Padding Increment ==================== */
/* ==================== List Style Reset ==================== */
/* ==================== Logo ==================== */
/* ==================== Mobile Text Styles ==================== */
/* ==================== Desktop & Tablet Text Styles ==================== */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir", sans-serif;
  color: #323232;
}

/* =============== Divider =============== */
.divider {
  width: 100%;
  border-top: 1px solid #E1E1E1;
  margin: 16px 0;
}
@media (min-width: 768px) {
  .divider {
    margin: 24px 0;
  }
}

/* =============== Header =============== */
.header {
  width: 100%;
  background: #323232;
}

/* =============== Navigation =============== */
.navbar {
  width: 100%;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .navbar {
    max-width: 1020px;
    margin: auto;
    padding: 0;
  }
}
.navbar__logo {
  max-height: 20px;
  max-width: 120px;
  display: flex;
  align-items: center;
}
.navbar__logo-link {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .navbar__logo-link {
    margin-right: 36px;
  }
}
.navbar__list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .navbar__list {
    width: auto;
  }
}
.navbar__list-item {
  width: 50%;
  display: flex;
}
@media (min-width: 768px) {
  .navbar__list-item {
    width: auto;
    margin: 0 24px;
  }
}
.navbar__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  width: 100%;
  color: #E1E1E1;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  padding: 16px 32px;
}
@media (min-width: 768px) {
  .navbar__link {
    width: auto;
    padding: 24px 0;
  }
}
.navbar__link--active {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 4px solid #FFFFFF;
}
.navbar__link:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}

/* =============== Hero =============== */
.hero {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .hero {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding: 0;
    width: 1020px;
    margin: 0 auto;
  }
}
.hero__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
.hero-container {
  background: url("../assets/images/hero-bio.jpg");
  width: 100%;
  min-height: 35vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 0;
}
@media (min-width: 768px) {
  .hero-container {
    min-height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero-container {
    min-height: 60vh;
  }
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  z-index: 1;
}

/* =============== About =============== */
.article {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .article {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .article {
    width: 1020px;
    padding: 0;
    margin: 0 auto;
  }
}
.article-container {
  width: 100%;
  background: #FFFFFF;
  display: flex;
}
.article-container--bg {
  background: #FAFAFA;
}
.article__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .article__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 48px 0 36px;
  }
}
.article__content {
  width: 100%;
}
@media (min-width: 768px) {
  .article__content {
    width: 85%;
  }
}
.article__img {
  width: 100%;
  display: flex;
}

/* =============== Quote =============== */
.quote {
  padding-top: 16px;
}
@media (min-width: 768px) {
  .quote {
    padding-top: 36px;
  }
}
.quote__txt {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .quote__txt {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.quote__author {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

/* =============== Info =============== */
.info {
  display: flex;
  flex-direction: column;
}
.info__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 24px 0 16px;
}
@media (min-width: 768px) {
  .info__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding: 48px 0 36px;
  }
}
.info__txt {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .info__txt {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 48%;
    padding-bottom: 36px;
  }
}
.info__txt-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .info__txt-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* =============== Photo Gallery =============== */
.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .gallery {
    padding-bottom: 12px;
  }
}
.gallery__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__list-item {
  width: 100%;
  display: flex;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .gallery__list-item {
    padding-bottom: 24px;
    width: 31%;
    height: auto;
  }
}
.gallery__list-img {
  width: 100%;
  filter: grayscale(100%);
}
.gallery__list-img:hover {
  filter: grayscale(0%);
}

/* =============== Comments =============== */
.comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comments__form {
  display: flex;
  flex-direction: column;
}
.comments__container {
  display: flex;
  flex-direction: column;
}
.comments__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comments__list-item {
  display: flex;
  flex-wrap: wrap;
}
.comments__list-name {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  width: 80%;
}
.comments__list-timestamp {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #E1E1E1;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
.comments__list-text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  width: 100%;
}

/* =============== Form =============== */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}
.form__avatar {
  width: 18%;
  align-self: flex-end;
}
.form__img {
  height: 100%;
  width: auto;
}
.form__img-container {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #E1E1E1;
  display: flex;
}
.form__name {
  display: flex;
  flex-direction: column;
  width: 82%;
}
.form__text {
  display: flex;
  flex-direction: column;
  width: 82%;
}
.form__label {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E1E1E1;
  margin-bottom: 4px;
}
.form__input {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  background: #FAFAFA;
}
.form__input:active {
  border: 1px solid #323232;
}
.form__btn {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #323232;
  color: #FFFFFF;
  border-style: none;
  border-radius: 4px;
  width: 100%;
}
@media (min-width: 768px) {
  .form__btn {
    min-width: 150px;
    padding: 0 32px;
  }
}
.form__btn:hover {
  background: #000000;
}

/* =============== Footer =============== */
.footer {
  width: 100%;
  color: #FFFFFF;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    padding: 48px 36px 36px 36px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 48px 0 36px;
    width: 1020px;
    margin: 0 auto;
  }
}
.footer-container {
  width: 100%;
  background: #323232;
}
.footer__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 0;
    order: -3;
    width: 33%;
    padding: 0 0 36px;
  }
}
.footer__logo {
  max-height: 20px;
  max-width: 120px;
  display: flex;
  align-items: center;
}
.footer__logo-container {
  padding: 24px 0 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__logo-container {
    order: -1;
    width: 34%;
    justify-content: flex-end;
    padding: 0 0 36px;
  }
}

/* =============== Social Navigation =============== */
.social {
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .social {
    order: -2;
    padding: 0;
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 36px;
  }
}
.social__list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-end;
}
.social__list-item {
  padding-right: 32px;
}
.social__link {
  display: flex;
}
.social__icon {
  max-height: 25px;
}

/* =============== Contact Info =============== */
.contact {
  display: flex;
  width: 100%;
}
.contact__list {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact__list {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    flex-direction: row;
  }
}
.contact__list-item {
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .contact__list-item {
    padding-bottom: 48px;
    width: 33%;
  }
}
.contact__person {
  font-weight: 600;
  padding-bottom: 16px;
}
.contact__location {
  padding-bottom: 16px;
}
.contact__email {
  text-decoration: none;
  color: #FFFFFF;
}

/* =============== Copyright =============== */
.copyright {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  display: flex;
}
@media (min-width: 768px) {
  .copyright {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}/*# sourceMappingURL=bio.css.map */