/* ==================== Primary Colors ==================== */
/* ==================== Secondary Colors ==================== */
/* ==================== Forms ==================== */
/* ==================== Bold ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* ==================== Demi ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/* ==================== Regular ==================== */
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../../assets/fonts/alternative-fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* ==================== Main Font Family ==================== */
/* ==================== Padding Increment ==================== */
/* ==================== List Style Reset ==================== */
/* ==================== Logo ==================== */
/* ==================== Button ==================== */
/* ==================== Divider ==================== */
/* ==================== Mobile Text Styles ==================== */
/* ==================== Desktop & Tablet Text Styles ==================== */
/* =============== Show Hero =============== */
.show-hero {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
@media (min-width: 768px) {
  .show-hero {
    padding: 48px 36px;
  }
}
@media (min-width: 1280px) {
  .show-hero {
    padding: 48px 0;
    width: 1020px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.show-hero__subtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #FFFFFF;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .show-hero__subtitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .show-hero__subtitle {
    width: 100%;
  }
}
.show-hero__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 16px;
  width: 85%;
}
@media (min-width: 768px) {
  .show-hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    padding-bottom: 36px;
  }
}
@media (min-width: 1280px) {
  .show-hero__title {
    width: 50%;
    padding-bottom: 0;
  }
}
.show-hero__iframe-container {
  width: 100%;
}
@media (min-width: 768px) {
  .show-hero__iframe-container {
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .show-hero__iframe-container {
    width: 40%;
  }
}
.show-hero-container {
  background: url("../assets/images/hero-shows.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 0;
}
.show-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  z-index: 1;
}

/* Show Article */
.show-article {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .show-article {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .show-article {
    width: 1020px;
    padding: 0;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.show-article-container {
  width: 100%;
  background: #FFFFFF;
  display: flex;
}
.show-article__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .show-article__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 48px 0 36px;
  }
}

/* =============== Shows Container =============== */
.shows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .shows {
    padding-bottom: 16px;
  }
}
@media (min-width: 1280px) {
  .shows {
    padding-top: 48px;
  }
}
.shows__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1280px) {
  .shows__container {
    width: 90%;
  }
}
.shows__heading {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E1E1E1;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .shows__heading {
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    width: 25%;
  }
}
.shows__heading-container {
  display: none;
}
@media (min-width: 768px) {
  .shows__heading-container {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .shows__heading-container {
    align-items: flex-end;
    height: 44px;
  }
}
.shows__list {
  list-style: none;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}

/* =============== Show Card =============== */
.show {
  border-bottom: 1px solid #E1E1E1;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .show {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.show__heading {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E1E1E1;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .show__heading {
    display: none;
  }
}
.show__date {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .show__date {
    width: 25%;
    padding-bottom: 0;
  }
}
.show__venue {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .show__venue {
    width: 25%;
    padding-bottom: 0;
  }
}
.show__location {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .show__location {
    width: 25%;
    padding-bottom: 0;
  }
}
.show__button {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #323232;
  color: #FFFFFF;
  border-style: none;
  border-radius: 4px;
  width: 100%;
}
@media (min-width: 768px) {
  .show__button {
    padding: 0 32px;
    width: 150px;
  }
}
.show__button:hover {
  background: #000000;
}
.show__button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .show__button-container {
    width: 25%;
  }
}/*# sourceMappingURL=shows.css.map */