/* ==================== Primary Colors ==================== */
/* ==================== Secondary Colors ==================== */
/* Main Font Family */
/* Padding Increment */
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
/* ==================== Logo ==================== */
/* ==================== Mobile Text Styles ==================== */
/* ==================== Desktop & Tablet Text Styles ==================== */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Avenir Next LT Pro", sans-serif;
}

/* =============== Navigation =============== */
.header {
  width: 100%;
}

.navbar {
  width: 100%;
  background: #323232;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    flex-direction: row;
    padding: 0 36px;
  }
}
.navbar__list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navbar__list {
    width: auto;
  }
}
.navbar__list-item {
  width: 50%;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navbar__list-item {
    width: auto;
    margin: 0 24px;
  }
}
.navbar__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  width: 100%;
  color: #E1E1E1;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  padding: 16px 32px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .navbar__link {
    width: auto;
    padding: 24px 0;
  }
}
.navbar__link--active {
  color: #FFFFFF;
  font-weight: 700;
  border-bottom: 4px solid #FFFFFF;
}
.navbar__link:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}

.logo {
  max-height: 20px;
  max-width: 120px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.logo-link {
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .logo-link {
    display: flex;
    align-items: center;
    margin-right: 36px;
  }
}

/* =============== Main =============== */
/* =============== Hero =============== */
.hero {
  background: url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 35vh;
  background-position: center;
  background-size: cover;
  padding: 0 16px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    padding: 0 36px;
    height: 70vh;
  }
}
.hero__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #323232;
  opacity: 0.5;
  z-index: 0;
}

/* =============== About =============== */
.article {
  width: 100%;
  padding: 0 16px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .article {
    padding: 0 36px;
  }
}
.article--bg {
  background: #FAFAFA;
}
.article__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px;
  align-self: flex-start;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .article__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    padding: 48px 0 36px;
  }
}
.article__content {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .article__content {
    width: 85%;
  }
}
.article__img {
  width: 100%;
}

.quote {
  padding-top: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .quote {
    padding-top: 24px;
  }
}
.quote__txt {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 600;
  padding-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .quote__txt {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
.quote__author {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .quote__author {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-weight: 600;
  }
}

.info {
  display: flex;
  flex-direction: column;
}
.info__title {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 24px 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .info__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding: 48px 0 36px;
  }
}
.info__txt {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .info__txt {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    width: 49%;
    padding-bottom: 36px;
  }
}
.info__txt-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .info__txt-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* =============== Photo Gallery =============== */
.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gallery__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery__list-item {
  width: 100%;
  display: flex;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .gallery__list-item {
    padding-bottom: 24px;
    width: 30%;
    height: auto;
  }
}
.gallery__list-img {
  width: 100%;
}

/* =============== Footer =============== */
.footer {
  width: 100%;
  background: #323232;
  color: #FFFFFF;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 48px 36px 36px 36px;
  }
}
.footer__container {
  padding: 24px 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    order: -1;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 36px 0;
  }
}

/* =============== Social Navigation =============== */
.social {
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .social {
    order: -2;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
  }
}
.social__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: 24px 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .social__title {
    padding: 0;
  }
}
.social__list {
  list-style: none;
  padding: 0;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.social__icon {
  max-width: 25px;
}

/* =============== Contact Info =============== */
.contact {
  width: 100%;
}
.contact__list {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .contact__list {
    order: 3;
    display: flex;
  }
}
.contact__list-item {
  padding-bottom: 24px;
}
.contact__person {
  font-weight: 600;
  padding-bottom: 16px;
}
.contact__location {
  padding-bottom: 16px;
}

/* =============== Footer Logo / Wordmark =============== */
/* =============== Copyright =============== */
.copyright {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .copyright {
    order: 4;
    width: 100%;
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */